@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Pyidaungsu", "Padauk", "Myanmar Sans Serif", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  * {
    line-height: 1.8 !important;
  }
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 2.2 !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
}
